@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

*{
margin: 0;
padding: 0;
overflow-x: hidden;
}

/* Página inicial */

#cabecalho {
  border: 1px solid rgb(213, 213, 213);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding: 60px;
}

figure{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px
}

#busca {
  position: absolute;
  left: 4%;
}

#busca:hover, #perfil:hover, #carrinho:hover{
  transform: scale(1.08);
}

#perfil {
  position: absolute;
  right: 7%;
}

#carrinho{
    position: absolute;
    right: 4%;
}

nav a{
  text-decoration: none;
  color: #131662;
  font-family: "Belleza", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  position: relative;
}

nav a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: black;
  transition: 0.3s ease;
}

nav a:hover::after{
  width: 100%;
}

nav ul{
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 200px;
  margin-top: 18px;
}

#capa{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 70px;
}

#favoritos{
  background: linear-gradient(to right, #0E53B5, #131662);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
  margin-bottom: 40px;
}

#favoritosTitulo{
  background: linear-gradient(to right, #0E53B5, #131662);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 10px ;
  font-size: 50px;
  font-family: "Belleza", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.produtoFavorito{
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  background-color: white;
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  cursor: pointer;
}

.produtoFavorito:hover{
  transform: scale(1.02)
}

.produtoFavoritoTexto{
  text-align: center;
}

.produtoFavoritoTexto p{
  text-align: center;
  font-size: 20px;
}

#categoriasProdutos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  overflow: hidden;
}

#categoriasTitulo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: "Belleza", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #131662;
  padding: 18px;
  padding-top: 80px;
}

.categoriaNome {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Zain", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
  color: #131662;
}

.categoria:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#beneficiosCliente {
  background: linear-gradient(to right, #FFFFFF, #DDDDDD);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 130px;
  padding: 60px;
  margin-top: 120px;
}

.beneficio {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: normal;
  width: 250px;
  color: #131662;
}

.beneficio img {
  align-items: center;
  justify-content: center;
}

.beneficio h3 {
  font-family: "Zain", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  cursor: pointer;
  padding-top: 20px;
}

.beneficio p{
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  cursor: pointer;
}

footer {
  background: linear-gradient(to right, #0E53B5, #131662);
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  margin-top: 70px;
  padding-top: 30px;
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  flex-wrap: wrap;
}

ul {
  padding: 0;
}

footer ul{
  font-size: 22px;
}

#formasPagamento img{
  margin-right: 10px;
}

#sobreNos a{
  text-decoration: none;
  color: #FFFFFF;
}

#sobreNos a:hover{
  transform: scale(1.05);
  cursor: pointer;
  color: rgb(195, 220, 255);
  text-decoration: underline;
}

#redesSociais ul{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

#direitos{
  flex-basis: 100%;
  background-color: #0F1249;
  padding: 8px;
  text-align: center;
  font-family: "Belleza", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
}


/* Tela de busca */

#buscando {
  position: absolute;
  left: 4%;
}

h1, #itemBuscado, #quantidadeProdutosEncontrados {
  font-family: "Belleza", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #131662;
  margin-left: 40px;
}

h1 {
  font-size: 45px;
  margin-top: 45px;
}

#itemBuscado {
  font-size: 30px;
  margin-top: 15px;
}

#quantidadeProdutosEncontrados{
  font-size: 25px;
  margin-top: 15px;
}

#todosResultadosBusca{
  display: grid; 
  gap: 100px;
  max-width: 2000px; 
  grid-template-columns: repeat(4, 320px);
  margin: 70px auto 0 auto;
  justify-content: center; 
}

.resultadosBusca{
  border: 1px solid #e4eefc;
  border-radius: 10px;
  background-color: #EFF2F6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.resultadosBusca a{
  text-decoration: none;
  color: #131662;
}

.resultadosBusca:hover{
  transform: scale(1.05);
  cursor: pointer;
  border-radius: 10px;
}

.resultadosBuscaTexto{
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  color: #131662;
}

.resultadosBuscaTexto:hover{
  font-weight: 400;
  font-style: bold;
  font-size: 20px;
}

#botaoCarrinho {
  color: #131662;
  border: none;
  padding: 8px;
  margin-top: 8px;
  font-family: "Zain", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  text-align: center;
  gap: 5px;
}

#botaoCarrinho:hover {
  background-color: #131662;
  color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
}


/* Tela de produto específico */

#produto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 400px;
}

#produtoEspecifico {
  border: 1px solid pink;
  margin: 30px 0px 0px 80px;
}

#descricaoProdutoEspecifico {
  border: 1px solid red;
  display: block;
}

#tituloProdutoEspecifico {
  font-family: "Belleza", sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 35px;
  color: #131662;
  margin: 0;
  padding-bottom: 15px;
}

#descricaoProdutoEspecifico {
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #131662;
}

#precoProdutoEspecifico {
  font-weight: 500;
  font-style: bold;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#parcelamentoProdutoEspecifico {
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
} 

hr {
  border: 1px solid #13166220;
}

#produto img {
  border-radius: 60px;
  padding: 3px;
}

#material {
  padding-top: 40px;
  padding-bottom: 5px;
}

#ouro {
  border: 3px solid #0E53B5;

}








