@import url("https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Página inicial */

#cabecalho {
    border: 1px solid rgb(213, 213, 213);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}

#figureCabecalho {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
}

#busca {
    position: absolute;
    left: 4%;
}

#busca:hover,
#perfil:hover,
#carrinho:hover {
    transform: scale(1.08);
}

#perfil {
    position: absolute;
    right: 7%;
}

#carrinho {
    position: absolute;
    right: 4%;
}

nav a {
    text-decoration: none;
    color: #131662;
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: black;
    transition: 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

nav ul {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 200px;
    margin-top: 18px;
}

#capa {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 70px;
}

#favoritos {
    background: linear-gradient(to right, #0e53b5, #131662);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
    margin-bottom: 40px;
}

#favoritosTitulo {
    background: linear-gradient(to right, #0e53b5, #131662);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 50px;
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.produtoFavorito {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background-color: white;
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
}

.produtoFavorito:hover {
    transform: scale(1.02);
}

.produtoFavoritoTexto {
    text-align: center;
}

.produtoFavoritoTexto p {
    text-align: center;
    font-size: 20px;
}

#categoriasProdutos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    overflow: hidden;
}

#categoriasTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #131662;
    padding: 18px;
    padding-top: 80px;
}

.categoriaNome {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Zain", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
    color: #131662;
}

.categoria:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#beneficiosCliente {
    background: linear-gradient(to right, #ffffff, #dddddd);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 130px;
    padding: 60px;
    margin-top: 120px;
}

.beneficio {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: normal;
    width: 250px;
    color: #131662;
}

.beneficio img {
    align-items: center;
    justify-content: center;
}

.beneficio h3 {
    font-family: "Zain", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    cursor: pointer;
    padding-top: 20px;
}

.beneficio p {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    cursor: pointer;
}

footer {
    background: linear-gradient(to right, #0e53b5, #131662);
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    margin-top: 70px;
    padding-top: 30px;
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    flex-wrap: wrap;
}

ul {
    padding: 0;
}

footer ul {
    font-size: 22px;
}

#formasPagamento img {
    margin-right: 10px;
}

#sobreNos a {
    text-decoration: none;
    color: #ffffff;
}

#sobreNos a:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: rgb(195, 220, 255);
    text-decoration: underline;
}

#redesSociais ul {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#direitos {
    flex-basis: 100%;
    background-color: #0f1249;
    padding: 8px;
    text-align: center;
    font-family: "Belleza", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
}

/* Tela de busca */

#buscando {
    position: absolute;
    left: 4%;
}

#tituloBusca,
#itemBuscado,
#quantidadeProdutosEncontrados {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #131662;
    margin-left: 40px;
}

h1 {
    font-size: 45px;
    margin-top: 45px;
}

#itemBuscado {
    font-size: 30px;
    margin-top: 15px;
}

#quantidadeProdutosEncontrados {
    font-size: 25px;
    margin-top: 15px;
}

#todosResultadosBusca {
    display: grid;
    gap: 100px;
    max-width: 2000px;
    grid-template-columns: repeat(4, 320px);
    margin: 85px auto;
    justify-content: center;
}

.resultadosBusca {
    border: 1px solid #e4eefc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.resultadosBusca a {
    text-decoration: none;
    color: #131662;
}

.resultadosBusca:hover {
    transform: scale(1.05);
    cursor: pointer;
    border-radius: 10px;
}

.resultadosBuscaTexto {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: #131662;
    padding: 10px;
}

.resultadosBuscaTexto:hover {
    font-weight: 400;
    font-size: 20px;
}

.botaoCarrinho {
    color: #131662;
    border: none;
    border-radius: 10px;
    padding: 8px;
    margin-top: 15px;
    font-family: "Zain", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    gap: 5px;
    background-color: #d6e4f8;
}

.botaoCarrinho:hover {
    background-color: #131662;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

/* Tela de produto específico */

#produto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}

#produtoEspecifico {
    margin: 30px 0px 0px 80px;
}

#tituloProdutoEspecifico {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: #131662;
    margin-top: 60px;
    padding-bottom: 15px;
}

#breveDescricaoProdutoEspecifico {
    padding-left: 42px;
}

#descricaoProdutoEspecifico {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #131662;
    display: block;
    margin-top: 50px;
}

#precoProdutoEspecifico {
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#parcelamentoProdutoEspecifico {
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

hr {
    border: 1px solid #13166220;
}

#produto img {
    border-radius: 60px;
    padding: 3px;
}

#material {
    padding-top: 30px;
    padding-bottom: 5px;
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

#ouro {
    border: 3px solid #0e53b5;
}

#divisaoMaterialQuantidade {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#alterarQuantidade {
    display: flex;
    align-items: center;
    justify-content: center;
}

#quantidade {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-left: 60px;
}

#quantidadeProduto {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #131662;
    font-size: 20px;
    display: block;
    flex-direction: column;
}

#botaoAdicionarCarrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    overflow: hidden;
}

#adicionarCarrinho {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    background-color: #181b76;
    color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
}

#adicionarCarrinho:hover {
    cursor: pointer;
    background-color: #0f1249;
}

#detalhesProduto {
    margin-top: 15px;
}

#detalhesProduto h2 {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: #131662;
}

#detalhesProduto p {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #131662;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

#tituloComentario {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #131662;
    font-size: 40px;
    padding-left: 25px;
    padding-top: 40px;
}

.separacaoComentario {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #131662;
    font-size: 25px;
    padding-left: 25px;
    padding-top: 15px;
}

.blocoComentario {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px;
}

.comentario {
    display: flex;
}

.avaliacoesProduto {
    border: 1px solid #e1e4e8;
    border-radius: 10px;
    background-color: #eff2f6;
    width: 100em;
    display: flex;
    padding: 15px;
}

.user,
.conteudoComentario {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-size: 26px;
    height: fit-content;
    margin-left: 10px;
}

.user {
    font-size: 30px;
    font-weight: 500;
    color: #131662;
}

.fraseComentario {
    margin-left: 10px;
    color: #131662;
}

.estrelasComentário {
    margin-left: 10px;
}

#tituloNovoComentario {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #131662;
    font-size: 30px;
    padding-left: 25px;
    padding-top: 15px;
}

#novoComentario {
    border: 1px solid #e1e4e8;
    border-radius: 10px;
    background-color: #eff2f6;
    width: 50em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px;
    margin-top: 20px;
    margin-left: 80px;
    margin-bottom: 30px;
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #131662;
}

::placeholder {
    color: #131662bc;
}

#enviarNovoComentario {
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px;
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 20px;
    background-color: #131662;
}

#enviarNovoComentario:hover {
    background-color: #0f1249;
    cursor: pointer;
}

#blocoNovoComentario {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tela de carrinho */

#tituloCarrinho {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #131662;
    margin-left: 20px;
}

#carrinhoCompleto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtoCarrinho {
    border: 1px solid #e4eefc;
    background-color: #eff2f6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 35px;
    margin-top: 25px;
    width: 80em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.textoProdutoCarrinho {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #131662;
}

.lixeira:hover,
.lixeira2:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.lixeira {
    padding-top: 10px;
}

#resumoProdutosCarrinho {
    border: 1px solid #c4d7f0;
    border-radius: 10px;
    width: 30em;
    margin-left: 60px;
    padding: 30px;
}

#resumoCarrinhoTitulo {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 10px;
    color: #131662;
}

#subtotal,
#calculoEntrega,
#total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #131662;
    padding: 15px;
}

.categoriaResumoCompra {
    font-weight: 600;
}

#precoTotal {
    color: #0e53b5;
    font-weight: 600;
}

#botaoFinalizarCompra,
#botaoContinuarComprando {
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    border: none;
    text-decoration: none;
    text-align: center;
}

#botaoContinuarComprando:hover {
    cursor: pointer;
    background-color: #a3c1dd;
    color: #131662;
}

#botaoFinalizarCompra {
    background: linear-gradient(to right, #0e53b5, #131662);
    color: white;
    border: 1px solid #1c2090;
    margin-top: 10px;
}

#botaoContinuarComprando {
    background-color: #eff2f6;
    color: #131662;
    margin-top: 10px;
    margin-bottom: 20px;
}

#alinharBotoesCarrinho {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 15px;
}

/* Categorias - Prata 925, Ouro 18k, Banhados a ouro e Todos os produtos */

#bannerPrata925,
#bannerOuro18k,
#bannerBanhados {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Página de Login */

#htmlLogin,
#bodyLogin,
#bodyCadastro,
#htmlCadastro {
    height: 100%;
    margin: 0;
    padding: 0;
}

#mainLogin,
#mainCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    background: linear-gradient(to right, #0e53b5, #131662);
    margin: 0;
    height: 100%;
    width: 100%;
}

#caixaLogin,
#caixaCadastro {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background-color: white;
    width: 100%;
    max-width: 35em;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginTitulo,
#cadastroTitulo {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #131662;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

#formLogin,
#formCadastro {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.campoLogin,
.campoCadastro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.labelLogin,
.labelCadastro {
    padding: 8px;
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #131662;
}

.inputLogin,
.inputCadastro {
    padding: 22px;
    border-radius: 10px;
    width: 35em;
    margin-top: 5p;
    border: none;
    border: 1px solid #131662;
}

.inputLogin::placeholder {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #13166273;
}

#cadastreSe,
#facaLogin {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-top: 3%;
    color: #131662;
}

#cadstreSe:hover {
    transform: scale(1.02);
}

#confirmacaoLogin,
#confirmarCadastro {
    padding: 20px;
    width: 50%;
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    background: linear-gradient(to right, #0e53b5, #131662);
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 18px;
    text-decoration: none;
    text-align: center;
}

#confirmacaoLogin:hover {
    transform: scale(1.03);
    cursor: pointer;
}

/*  Cadastro  */

#bonequinho {
    width: 90px;
    border: none;
    border-radius: 100%;
    padding: 15px;
    margin-top: 20px;
    background: linear-gradient(to right, #0e53b5, #131662);
}

.inputCadastro::placeholder {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #13166273;
}

#facaLogin:hover {
    transform: scale(1.02);
}

#confirmarCadastro:hover {
    transform: scale(1.03);
    cursor: pointer;
}

/*  Finalização de compra - Endereço */

.processoCompra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 80px;
}

.cabecalhoFinalizarCompra {
    background: linear-gradient(to right, #0e53b5, #131662);
    color: white;
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    text-align: center;
}

.cabecalhoFinalizarCompra h1 {
    background: linear-gradient(to right, #0e53b5, #131662);
    color: white;
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 15px;
    text-align: center;
}

.cabecalhoFinalizarCompra p {
    background: linear-gradient(to right, #0e53b5, #131662);
    color: white;
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
}

.passosFinalizarCompraCabecalho {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background-color: #a6c9fe8b;
}

.passo {
    display: block;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.numeroPasso {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #a3c1dd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 5px;
    font-weight: bold;
    color: #131662;
    font-size: 20px;
}

.tituloPasso {
    font-size: 22px;
    color: #131662;
    font-family: "Zain", sans-serif;
    font-weight: 400;
}

.passoAtivo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #131662;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 5px;
    font-weight: bold;
    color: #ffffff;
}

.telaAtiva {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

#tituloEndereco,
#tituloPagamento,
#tituloEntrega,
#tituloConfirmacao {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #131662;
    margin-bottom: 20px;
}

.grupoFormulario {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.grupoFormulario label {
    font-size: 22px;
    color: #131662;
    font-family: "Zain", sans-serif;
    font-weight: 400;
}

.grupoFormulario input {
    padding: 15px;
    border-radius: 10px;
    border: none;
    border: 1px solid #131662;
}

#cep::placeholder,
#rua::placeholder,
#numero::placeholder,
#complemento::placeholder,
#bairro::placeholder,
#cidade::placeholder {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #13166273;
}

#estado {
    border-radius: 10px;
    padding: 10px;
}

.botaoAcao {
    overflow: hidden;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaoVoltarInativo {
    background-color: #13166257;
    color: #13166297;
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    border: none;
}

.botaoProximo,
.botaoVoltar,
.botaoConfirmar,
.botaoPaginaInicial {
    background-color: #131662;
    color: white;
    overflow: hidden;
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    margin: 25px;
}

.botaoProximo:hover,
.botaoVoltar:hover,
.botaoConfirmar:hover,
.botaoPaginaInicial:hover {
    cursor: pointer;
    background-color: #a3c1dd;
    color: #131662;
}

/*  Finalização de compra - Pagamento */

.metodosPagamento,
.opcoesEntrega {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: none;
}

.metodoPagamento,
.opcaoEntrega {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    gap: 10px;
    color: #131662;
    margin: 10px;
    cursor: pointer;
}

.botaoVoltar {
    background-color: #0e53b5;
}

/*  Finalização de compra - Entrega */

.precoOpcaoEntrega {
    display: flex;
    justify-content: end;
    align-items: end;
    color: #0e53b5;
    font-size: 26px;
}

/*  Compra confirmada */

.cabecalhoSecaoConfirmada {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#compraConfirmada {
    margin: 18px;
}

.botaoPaginaInicial {
    font-size: 24px;
}

/* Sobre nós */

#sobre,
#entrega {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #ffffff, #dddddd);
}

.gridDuasColunas {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}

.tituloSecao {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: #131662;
    margin-bottom: 10px;
    margin-left: 10px;
}

.textoSecao {
    margin-bottom: 25px;
    margin-left: 10px;
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #131662;
}

.subtituloSecao {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-weight: 300;
    max-width: 700px;
    color: #131662;
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
}

.imagemSobreNos img {
    max-width: 100%;
    height: 100%;
    display: block;
    align-items: flex-start;
}

#privacidade,
#direitosCliente {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
}

#contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#labelContato,
#labelComentario {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #131662;
    margin-left: 80px;
}

#contato #email {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #e1e4e8;
    background-color: #eff2f6;
    width: 52em;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-bottom: 30px;
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #131662;
}

#contato button {
    width: 30em;
    margin-left: 30%;
}

/*  Tela ADM  */

.mainAdm {
    margin: 0;
    padding: 0;
}

.tituloPainel {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-weight: 300;
    font-size: 35px;
    color: #131662;
    text-align: center;
}

.adicionarProduto {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #0e53b5, #131662);
    color: white;
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.adicionarProduto:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.painelGeral {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumoCards {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-left: 5%;
    gap: 30px;
}

.cardResumo {
    padding: 25px;
    border-radius: 10px;
    background: linear-gradient(to right, #0e53b5, #131662);
    color: white;
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.valorCard {
    font-size: 25px;
}

.cabecalhoPainel {
    display: flex;
    justify-content: space-between;
}

#tabela1Adm,
#tabela2Adm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#tituloTabelaProdutos,
#tituloTabelaContatos {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-weight: 300;
    color: #131662;
    font-size: 30px;
    text-align: center;
}

.tabelaProdutos,
.tabelaContatos {
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    background: #dddddd98;
    margin: 10px;
    margin-bottom: 30px;
}

.tabelaProdutos th,
.tabelaContatos th {
    padding: 10px;
    color: #131662;
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-size: 26px;
    background-color: #dddddd;
    border-radius: 10px;
}

.tabelaProdutos td,
.tabelaContatos td {
    padding: 10px;
    color: #131662;
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-size: 24px;
    border-radius: 10px;
    overflow: hidden;
}

.tabelaProdutos td button,
.tabelaContatos td button {
    padding: 10px;
    color: #131662;
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-size: 24px;
    border-radius: 10px;
    color: white;
    border: none;
}

.botaoEditarTabelaProdutos,
.botaoResponderTabelaContatos {
    background-color: #131662;
}

.botaoExcluirTabelaProdutos,
.botaoExcluirTabelaContatos {
    background-color: rgba(255, 0, 0, 0.691);
}

.botaoVerTabelaContatos {
    background-color: #0e53b5;
    width: 110px;
}

.botaoEditarTabelaProdutos:hover,
.botaoExcluirTabelaProdutos:hover,
.botaoExcluirTabelaContatos:hover,
.botaoResponderTabelaContatos:hover,
.botaoVerTabelaContatos:hover {
    background-color: #a3c1dd;
    color: #131662;
    cursor: pointer;
}
